*
!.gitignore
!README.md
!LICENSE
!docs/
!docs/**
!assets/
!assets/screenshots/
!assets/screenshots/**
!assets/diagrams/
!assets/diagrams/**
!demo_modules/
!demo_modules/**
!samples/
!samples/**
!tools/
!tools/public_exporter/
!tools/public_exporter/**
